<% layout("/layouts/boilerplate.ejs") %>
<body>
  <section class="hero-section">
    <div>
      <h2 class="hero-heading">Welcome to the Bookshelf</h2>

      <h4 class="hero-subheading">
        Unlocking Worlds, One Page at a Time: Explore, Discover, and Read with
        Our Bookshelf App!
      </h4>
    </div>

    <img class="hero-image" src="/images/heroImage.jpg" alt="hero image" />
  </section>

  <section class="explore-section">
    <a href="/books" type="button" class="btn btn-secondary explore-btn" data-mdb-ripple-init
    >Explore Books</a>
  </section>
 
</body>
